<div class="wr-item-card col {class} {filter}">
	<div class="item-card" data-id="{id}">
		<div class="bl-notice">
			<div class="badget badget-hit">Хит продаж</div>
			<div class="badget badget-sale">Скидка -15%</div>
		</div>
		<a href="/catalog/card/" class=" a-d img bg-contain" style="background-image:url('/img/{img}');"></a>
		<div class="bl-info">
			<a href="/catalog/card/" class="title-card a-d">{filter} {name}</a>
			<div class="price-card"><span class="old-price">{oldprice}</span> <span class="price">{price}</span></div>
		</div>
		<div class="bl-action"><a href="#bookmark" class="btni ic bookmark"></a><a href="#bascket" class="btni ic bascket"></a></div>
	</div>
</div>