<!-- .wr-card.row>.item-card.col.s12.m6.l4*3>.bl-notice+.img.bg-contain[style="background-image:url('/img/product-1.png');"]+.bl-info>.title-card.a-d{Икра стерляди Горкунов, 50 г}+.price-card{1800 руб.}^+.bl-action>.ic.bookmark.a-d+.ic.bascket.a-d -->
<div class="wr-card">
	<div class="row">
		[snp tpl="card-item.html" class="{class}" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-1.png"]
		[snp tpl="card-item.html" class="{class}" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-2.png"]
		[snp tpl="card-item.html" class="{class}" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-3.png"]
	</div>
</div>