<div class="wr-card">
	<div class="row">
		[snp tpl="card-item.html" class="s12 m6 l4 xl4 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-1.png"]
		[snp tpl="card-item.html" class="s12 m6 l4 xl4 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-2.png"]
		[snp tpl="card-item.html" class="s12 m6 l4 xl4 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-3.png"]
		[snp tpl="card-item.html" class="s12 m6 l4 xl4 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-1.png"]
		[snp tpl="card-item.html" class="s12 m6 l4 xl4 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-2.png"]
		[snp tpl="card-item.html" class="s12 m6 l4 xl4 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-3.png"]
	</div>
</div>