<div class="item-card row">
	<a href="#del" class="a-d ribe bl-del ic close"></a>
	<div class="img bg-contain" style="background-image:url('/img/product-1.png')"></div>
	<div class="card-info">
		<div class="title-card">{title}</div>
		<div class="price-card">{price}</div>
		<div class="bl-count">
			<a href="#reduce" class="a-d reduce-count bl-brick">-</a>
			<div class="count bl-brick"><input type="text" class="fi-d" value="{count}"></div>
			<a href="#enlerge" class="a-d enlarge-count bl-brick">+</a>
		</div>
	</div>
</div>