<div class="item-card row">
	<a href="#del" class="a-d ribe bl-del ic close v1"></a>
	<div class="card-info row">
		<div class="col s12 m3 p0"><a href="" class="a-d img bg-contain"></a></div>
		<div class="col s12 m6 p0"><div class="title-card"></div></div>
		<div class="col s12 m3 p0"><div class="bl-total"><div class="total-title">Сумма:</div></div></div>
		<div class="col s12 m6 p0">
			<div class="price-card"></div>
			<div class="oldprice-card"></div>
			<div class="bl-count">
				<a href="#reduce" class="a-d reduce-count bl-brick">-</a>
				<div class="count bl-brick"><input type="text" class="fi-d" value="1"></div>
				<a href="#enlerge" class="a-d enlarge-count bl-brick">+</a>
			</div>
		</div>
		<div class="col s12 m3 p0">
			<div class="bl-total">
				<div class="price-total"> руб.</div>
			</div>
		</div>
	</div>
</div>