	</main>
	<!-- ./main -->
	<!-- footer -->
	<footer class="main-footer">
		<div class="wr">
			<div class="wr-nav">
				<nav class="nav">
					<!-- ul.ul-d.list-nav>li.li-d.item-nav*7>a.a-d.link-nav.title-nav[href="#"]{Каталог продукции}+ul.ul-d>li.li-d*4>a.a-d[href="#"]{Черная икра} -->
					<ul class="ul-d list-nav row">
						<li class="li-d item-nav">
							<a href="/" class="a-d">
								<img src="/img/design/kremlev-logo.svg" alt="Kremlev logo">
							</a>
						</li>
						<li class="li-d item-nav">
							<a href="/catalog/" class="a-d link-nav title-nav">Каталог продукции</a>
							<ul class="ul-d">
								<li class="li-d"><a href="/catalog/" class="a-d">Черная икра</a></li>
								<li class="li-d"><a href="/catalog/" class="a-d">Красная икра</a></li>
								<li class="li-d"><a href="/catalog/" class="a-d">Рыба</a></li>
								<li class="li-d"><a href="/catalog/" class="a-d">Крабы</a></li>
							</ul>
						</li>
						<li class="li-d item-nav">
							<a href="/clients/" class="a-d link-nav title-nav">Покупателям</a>
							<ul class="ul-d">
								<li class="li-d"><a href="/clients/#delivery" class="a-d">Доставка</a></li>
								<li class="li-d"><a href="/clients/#faq" class="a-d">FAQ</a></li>
								<li class="li-d"><a href="/clients/#pay" class="a-d">Оплата</a></li>
								<li class="li-d"><a href="/polit/" class="a-d">Политика конфиденциальности</a></li>
							</ul>
						</li>
						<li class="li-d item-nav">
							<a href="/opt/" class="a-d link-nav title-nav">Оптовикам</a>
						</li>
						<li class="li-d item-nav">
							<a href="/contacts/" class="a-d link-nav title-nav">Контакты</a>
						</li>
						<li class="li-d item-nav">
							<a href="/catalog/" class="a-d link-nav title-nav">Акции</a>
						</li>
						<li class="li-d item-nav">
							<a href="/blog/" class="a-d link-nav title-nav">Новости</a>
						</li>
						<li class="li-d item-nav">
							<a href="/blog/" class="a-d link-nav title-nav">Рецепты</a>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="bottom-line">
		<div class="wr">
			<div class="copyright fl">&copy; 2017 Все права защищены</div>
			<a href="//landingart.ru/" class="a-d fr wr-logoart">
				<img class="logoart" src="/img/design/logoart.png" alt="Разработка сайта LandingArt">
				<span class="text">Разработка сайта</span>
			</a>
			<div class="wr-bank">
				<span class="ic visa"></span><span class="ic mastercard"></span>
			</div>
		</div>
	</div>
</footer>
<a id="moveup" class="moveup link-move scale-transition scale-out" href="#" data-move="#main-header"></a>
<!-- ./footer -->
<script src="https://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="/js/libs.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/Basket.js"></script>
<script type="text/javascript" src="/js/Bookmark.js"></script>
</body>
</html>