<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>{title}</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="//cdn.cn3bie.ru/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="//cdn.cn3bie.ru/img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//cdn.cn3bie.ru/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//cdn.cn3bie.ru/img/favicon/apple-touch-icon-114x114.png">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<!-- ./favicon -->
	<link rel="stylesheet" href="/css/libs.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<!-- header -->
	<header id="main-header" class="main-header">
		<div class="wr">
			<div class="bl-logo"><a href="/" class="a-d"><img src="/img/design/logo.png" alt="Logo"></a></div>
			<div class="bl-menu">
				<div class="top-line row">
					<div class="bl-city">
						<span class="ic marker"></span>Ваш город: <span id="city" class="select city">Санкт-Петербург</span>
						<div class="bl-search-city">
							<div class="wr-fi">
								<input type="text" class="fi-d" placeholder="Поиск города">
							</div>
							<ul class="ul-d list-city">
								<li class="li-d item-city">Москва</li>
								<li class="li-d item-city">Санкт-Петербург</li>
								<li class="li-d item-city">Нижний Новгород</li>
							</ul>
						</div>
					</div>
					<div class="bl-wr">
						<div class="search">
							<div class="dn string-search">
								<input type="text" class="fi-d" placeholder="Что будем искать?">
							</div>
							<div class="dn wr-fetch">
								<div class="wr-card">
									<div class="row">
										[snp tpl="card-item-without-ic.html" class="s6 m4 l2 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-1.png"]
										[snp tpl="card-item-without-ic.html" class="s6 m4 l2 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-2.png"]
										[snp tpl="card-item-without-ic.html" class="s6 m4 l2 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-3.png"]
										[snp tpl="card-item-without-ic.html" class="s6 m4 l2 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-1.png"]
										[snp tpl="card-item-without-ic.html" class="s6 m4 l2 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-2.png"]
										[snp tpl="card-item-without-ic.html" class="s6 m4 l2 p0" price="1800 руб." oldprice="2690 руб." name="Икра стерляди Горкунов, 50 г" img="product-3.png"]
									</div>
								</div>
							</div>
							[snp tpl="snippets/markup-search.html" name="toggle search"]
						</div>
						<a href="/bookmark/" class="ic bookmark"><span id="bookmark-badget" class="badget">3</span></a>
						<a href="/order/" class="ic bascket"><span id="bascket-badget" class="badget">14</span></a>
						<a href="tel:88001234567" class="phone">8 800 123 45 67</a>
					</div>
				</div>
				<div class="nav-line">
					<div class="wr-menu">
						<div class="list-menu row">
							<div class="item-menu catalog">
								<a href="/catalog/" class="a-d link-item-menu">Каталог продукции</a>
								[snp tpl="nav-lvl-2.html" ]
							</div>
							<div class="wr-lvl-1">
								<div class="wrp-item-menu row">
									<div class="item-menu"><a href="/clients/" class="a-d link-item-menu">Покупателям</a></div>
									<div class="item-menu"><a href="/opt/" class="a-d link-item-menu">Оптовикам</a></div>
									<div class="item-menu"><a href="/contacts/" class="a-d link-item-menu">Контакты</a></div>
									<div class="item-menu"><a href="/action/" class="a-d link-item-menu">Акции</a></div>
									<div class="item-menu"><a href="/blog/" class="a-d link-item-menu">Новости</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- ./header -->
	<!-- main -->
	<main class="main">