<!-- .wr-catalog>ul.ul-d.list-catalog.lvl-1.row>li.li-d.item-catalog*3>ul.ul-d.list-catalog.lvl-2>li.li-d.title-category+li.li-d*5>a.a-d[href="#"]^+li.li-d{Показать больше}>span.ic -->
<div class="wr-catalog">
	<ul class="ul-d list-catalog lvl-1 row">
		<li class="li-d item-catalog col s12 m6 l4 p0">
			<ul class="ul-d list-catalog lvl-2">
				<li class="li-d title-category before">Черная икра</li>
				<li class="li-d"><a href="/catalog/" class="a-d">Горкунов</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Волгореченск</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Русский икорный дом</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Золото Каспия</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Астраханская</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Показать больше<span class="ic down-arrow"></span></a></li>
			</ul>
		</li>
		<li class="li-d item-catalog col s12 m6 l4 p0">
			<ul class="ul-d list-catalog lvl-2">
				<li class="li-d title-category before">Красная икра</li>
				<li class="li-d"><a href="/catalog/" class="a-d">Горкунов</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Волгореченск</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Русский икорный дом</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Золото Каспия</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Астраханская</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Показать больше<span class="ic down-arrow"></span></a></li>
			</ul>
		</li>
		<li class="li-d item-catalog col s12 m6 l4 p0">
			<ul class="ul-d list-catalog lvl-2">
				<li class="li-d title-category before">Копченая рыба</li>
				<li class="li-d"><a href="/catalog/" class="a-d">Горкунов</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Волгореченск</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Русский икорный дом</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Золото Каспия</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Астраханская</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d">Показать больше<span class="ic down-arrow"></span></a></li>
			</ul>
		</li>
	</ul>
</div>