<div class="iziModal">
	<div class="wr-order-online">
		<div class="order-online">
			<div class="title-online">Вы добавили товар в корзину</div>
			<div class="bl-card current-card"></div>
			<div class="bl-btn"></div>
			<div class="title-online title-another-card">Другие товары в корзине</div>
			<div class="bl-card another-card"></div>
			<div id="template" class="dn">
				[snp tpl="card-order-online.html" title="Икра стерляди Горкунов, 50 г" price="1800 руб." count="1 "]
			</div>
		</div>
	</div>
</div>