<div class="sertificat">
	<div class="wr-sert v1 row">
		<div class="item-sert"><a href="" class="a-d img" style="background-image:url('/img/sert1.jpg');"></a></div>
		<div class="item-sert"><a href="" class="a-d img" style="background-image:url('/img/sert2.jpg');"></a></div>
	</div>
	<div class="wr-sert v2 row">
		<div class="item-sert"><a href="" class="a-d img" style="background-image:url('/img/sert3.jpg');"></a></div>
		<div class="item-sert"><a href="" class="a-d img" style="background-image:url('/img/sert4.jpg');"></a></div>
		<div class="item-sert"><a href="" class="a-d img" style="background-image:url('/img/sert5.jpg');"></a></div>
	</div>
</div>