

$notice-badget-side: 78px
/*catalog*/

.wr-card
	margin: 0
	.wr-item-card
		border:
			top: $border-line
			left: $border-line
		.item-card
			padding: 20px
			background: $color-white
			transition: .3s ease
			position: relative
			z-index: 2
			&:hover
				box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.42)
				z-index: 3
			.bl-notice
				min-height: 40px
				position: relative
				.badget
					display: block
					height: $notice-badget-side
					width: $notice-badget-side
					top: 0
					right: 0
					left: auto
					bottom: auto
					padding: ( $notice-badget-side - 34px ) /2 0
					font-size: 14px
					line-height: 17px
					&.badget-hit
						color: $color-white
						background-color: $color-primary
			.img
				width: 100%
				max-width: 100%
				min-height: 290px
				margin: auto
			.bl-info
				margin-top: 27px
				.title-card
					text-align: center
					letter-spacing: 0px
					font-size: 18px
					line-height: 22px
				.price-card
					font:
						weight: 700
						size: 20px
					margin-top: 15px
					letter-spacing: 0px
					text-align: center
					line-height: 24px
					.old-price
						color: $color-text-gray
						font-weight: 400
						text-decoration: line-through
						margin-right: 10px
						display: inline-block
			.bl-action
				margin-top: 10px
				text-align: right
				height: 25px
				.bookmark
				.basket


.card-four-in-row
	background-color: $color-bg-section
	.wr-card
		margin-bottom: 0
		.wr-item-card
			.item-card
				.bl-notice
					min-height: 50px
				.img
					min-height: 210px
				.bl-info
					.title-card
						line-height: 19px
						font-size: 16px
					.price-card
						font-size: 18px
						.old-price
				.bl-action
					.bookmark
					.basket

@media #{$large-and-up}
	.wr-item-card.col
		&.l6:nth-of-type(1),
		&.l6:nth-of-type(2),
		&.l4:nth-of-type(1),
		&.l4:nth-of-type(2),
		&.l4:nth-of-type(3),
		&.l3:nth-of-type(1),
		&.l3:nth-of-type(2),
		&.l3:nth-of-type(3),
		&.l3:nth-of-type(4)
			border-top: 0
		&.l6:nth-of-type(odd),
		&.l4:nth-of-type(3n+1),
		&.l3:nth-of-type(4n+1)
			border-left: 0

@media #{$medium-only}
	.wr-item-card.col
		&.m6:nth-of-type(1),
		&.m6:nth-of-type(2),
		&.m4:nth-of-type(1),
		&.m4:nth-of-type(2),
		&.m4:nth-of-type(3),
		&.m3:nth-of-type(1),
		&.m3:nth-of-type(2),
		&.m3:nth-of-type(3),
		&.m3:nth-of-type(4)
			border-top: 0
		&.m6:nth-of-type(odd),
		&.m4:nth-of-type(3n+1),
		&.m3:nth-of-type(4n+1)
			border-left: 0
@media #{$small-and-down}
	.wr-item-card.col
		border-left: 0
		&:first-of-type
			border-top: 0

/*blog*/
$blog-padding-left: 30px
.section
	.wr-blog
		margin-left: - $blog-padding-left
		.wr-item
			margin-bottom: 20px
			padding-left: $blog-padding-left
			.item-blog
				transition: .3s ease
				.img
					margin: 0
					margin-right: 10px
					max-width: 100%
					min-height: 230px
				.bl-info
					padding: 0 10px 10px
					.title-blog
						margin-top: 15px
						font-size: 22px
						line-height: 24px
					.desc
						margin-top: 10px
						font-size: 16px
						line-height: 18px
						transition: .3s ease
				&:hover
					box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.42)



/*collaborate*/
.collaborate
	margin-top: 50px
	width: 400px
	margin: auto
	.a-d
		color: $color-primary
		line-height: 27px
		font-size: 18px
		text-align: center
		font-weight: 700



/*delivery*/
#delivery
	.wr-dev
		.item-dev
			padding-top: 60px
			text-align: center
			.img
				min-height: 60px
				margin-bottom: 30px
			.name
				line-height: 27px
				font-size: 18px
				font-weight: 700
				margin-bottom: 10px
			.text
				text-align: center
				line-height: 22px
				font-size: 16px
				font-weight: 400
	.bl-text
		.title-text
			margin-top: 20px
			display: inline-block
			padding-top: 20px
			font-weight: 700
			line-height: 27px
			font-size: 18px
			margin-bottom: 20px
			&.collaborate
				width: auto
				.a-d
					position: relative
					z-index: 2
					line-height: 24px
					font-size: 16px
					text-align: left
			&:before
				width: $card-title-text-width
				border-top: $border-line
		.text
			line-height: 24px
			font-size: 16px
		.list-dev
			padding-left: $card-padding-left
			.item-dev
				margin-top: 15px
				.line-1
				.line-2
					margin-left: 80px
		.list-time
			padding-left: $card-padding-left
			.item-time
.ssk-group
	margin: 10px
	text-align: center
	.ssk.ssk-icon
		color: $color-black
		padding-right: 10px



/*Share*/
.bl-share
	text-align: center
	margin-top: 30px
	.ssk-group

/*При разных размерах областей*/

@media #{$large-and-up}
	.col.l6:nth-of-type(odd),
	.col.l4:nth-of-type(3n+1),
	.col.l3:nth-of-type(4n+1)
			clear: both
@media #{$medium-only}
	.col.l6:nth-of-type(odd),
	.col.l4:nth-of-type(3n+1),
	.col.l3:nth-of-type(3n+1)
			clear: none
	.col.m6:nth-of-type(odd),
	.col.m4:nth-of-type(3n+1),
	.col.m3:nth-of-type(4n+1)
			clear: both
