.main-footer
	border-top: $footer-border-top
	.wr-nav
		height: $footer-height-wr-nav
		padding: 50px 0 45px
		.nav
			.list-nav
				.item-nav
					float: left
					margin:
						top: 15px
						right: 30px
					max-width: 180px
					min-width: 100px
					&:last-of-type
						margin-right: 0
					.link-nav.title-nav
						line-height: 19px
						font-size: 16px
						font-weight: 700
					.li-d
						margin-top: 15px
						line-height: 19px
						font-size: 16px
	.bottom-line
		border-top: $border-line
		margin-top: -1px
		height: $footer-height-bottom-line
		.copyright
			height: $footer-height-bottom-line
			line-height: $footer-height-bottom-line
		.wr-logoart
			width: 150px
			height: $footer-height-bottom-line
			padding: 23px 0
			text-align: center
			.logoart
			.text
				line-height: 14px
				font-size: 12px
		.wr-bank
			height: $footer-height-bottom-line
			padding: 40px 0
			text-align: center

@media #{$medium-and-down}
	.main-footer
		height: auto
		.wr-nav
			height: auto
			padding: 10px 0
			.nav
				.list-nav
					.item-nav
						&.bl-logo
							display: none
						&:last-of-type
						.link-nav.title-nav
						.li-d
		.bottom-line
			height: auto
			.copyright
			.wr-logoart
				.logoart
				.text
			.wr-bank
@media #{$small-and-down}
	.main-footer
		.wr-nav
			display: none
		.bottom-line
			.copyright
				text-align: center
				float: none
				width: 100%
				height: auto
				padding: 10px 0
				line-height: 1em
			.wr-logoart
				float: none
				width: 100%
				height: auto
				padding: 10px 0
				.logoart
				.text
					display: block
					text-align: center
			.wr-bank
				height: auto
				padding: 10px 0