.wr-order-online
	padding: 30px 27px 29px 50px
	.order-online
		.title-online
			line-height: 29px
			font-size: 24px
			border-bottom: $border-line
			padding-bottom: 20px
			display: inline-block
			&.dn
				display: none
		.bl-btn
		.bl-card
			.item-card
				padding: 40px 0
				height: 248px
				margin: 0
				.bl-del
					float: left
					width: 40px
					height: 100%
					background-size: 11px 11px
					display: block
					margin: auto
					margin-right: 20px
					box-shadow: none
					border-radius: 3px
					transition: all 550ms ease
					&:hover
						background-color: $color-background
					&:active
						box-shadow: 0 0 20px 1px rgba(0,0,0,.3)
				.img
					float: left
					min-height: 168px
					max-width: 184px
					margin-right: 30px
				.card-info
					.title-card
						margin-bottom: 30px
						line-height: 24px
						font:
							size: 20px
							weight: 700
					.price-card
						float: left
						margin-right: 30px
						line-height: 24px
						font-size: 20px
						background-color: $color-bg-section
						padding: 5px
					.bl-count
						.bl-brick
							margin-right: 10px
							height: 42px
							width: 42px
							line-height: 42px
							font-size: 16px
						.count
							width: 84px
							.fi-d
								text-align: center
						.reduce-count,
						.enlarge-count
							&:hover
								background-color: $color-primary
								color: $color-white