$bl-del-width: 40px
$bl-del-margin-right: 20px
$card-info-margin-left: $bl-del-width + $bl-del-margin-right


$order-btn-width: 272px
$wr-total-height: 50px


$add-in-bookmark-del-height: 100px
$bl-cancel: 40px
$bl-del-select-height: $add-in-bookmark-del-height + $bl-cancel
$bl-del-select-top: ( $bl-del-select-height - $bl-del-width )/ 2

.wr-order-online
	position: relative
	padding: 30px 27px 29px 50px
	.close-izi
		position: absolute
		top: 10px
		right: 10px
	.order-online
		.title-online
			line-height: 29px
			font-size: 24px
			border-bottom: $border-line
			padding-bottom: 20px
			display: inline-block
			&.dn
				display: none
		.bl-btn
			padding-bottom: 30px
			border-top: $border-line
			.continue-shopping
				width: $order-btn-width
				margin-top: $wr-total-height
			.total
				background-color: $color-bg-section
				width: $order-btn-width
				float: right
				.bl-total
					height: $wr-total-height
					line-height: $wr-total-height
					font-size: 20px
					.total-title
						padding: 0 10px
						float: left
						width: 90px
					.price
						font-weight: 700
						padding: 0 10px
						text-align: right
						margin-left: 90px
				.a-d.btn
		.bl-card
			.item-card
				padding: 40px 0
				height: 248px
				margin: 0
				position: relative
				.bl-del
					float: left
					width: $bl-del-width
					height: $bl-del-width
					background-size: 11px 11px
					display: block
					margin: auto
					margin-right: $bl-del-margin-right
					box-shadow: none
					transition: all 550ms ease
					margin-top: 63px
					border-radius: 50%
					&:hover
						background-color: $color-background
					&:active
						box-shadow: 0 0 20px 1px rgba(0,0,0,.3)
					&:before,
					&:after
						width: 45%
						left: 27%
				.bl-del-select
					left: 0
					z-index: 2
					position: absolute
					width: 354px
					text-align: center
					background-color: $color-white
					line-height: 15px
					font-size: 14px
					box-shadow: 0px 0px 20px rgba(127,127,127,0.3), 0px 0px 20px rgba(127,127,127,0.3)
					top: 17%
					height: $bl-del-select-height
					a:hover
						text-decoration: underline
					.ic
						display: block
						margin: 0 auto 5px
						width: 34px
						height: 34px
					.bl-bookmark
						height: $add-in-bookmark-del-height
						margin-right: -1px
						.del-in-bookmark
							padding-top: 20px
							height: $add-in-bookmark-del-height
						.add-in-bookmark
							padding-top: 20px
							height: $add-in-bookmark-del-height
					.del
						border-left: $border-line
						height: $add-in-bookmark-del-height
						padding-top: 20px
					.cancel
						margin-top: -1px
						border-top: $border-line
						height: $bl-cancel
						line-height: $bl-cancel
				.card-info
					margin-left: $card-info-margin-left
					.img
						min-height: 168px
						max-width: 100%
					.title-card
						margin-bottom: 30px
						line-height: 24px
						font:
							size: 20px
							weight: 700
					.price-card
						float: left
						margin-right: 30px
						line-height: 24px
						font-size: 20px
						background-color: $color-bg-section
						padding: 5px
						min-width: 100px
					.oldprice-card
						min-width: 100px
						float: left
						font-size: 20px
						line-height: 24px
						background-color: $color-bg-section
						margin-right: 30px
						padding: 5px
						text-decoration: line-through
						color: $color-text-gray
					.bl-count
						.bl-brick
							margin-right: 10px
							height: 42px
							width: 42px
							line-height: 42px
							font-size: 16px
						.count
							width: 84px
							.fi-d
								text-align: center
						.reduce-count,
						.enlarge-count
							&:hover
								background-color: $color-primary
								color: $color-white
					.bl-total
						text-align: right
						line-height: 24px
						font-size: 20px
						.total-title
						.price-total